<!DOCTYPE html>
<!-- Declares the root element that allows behaviour to be modified through Angular custom HTML tags. -->
<html ng-app="persons">
<head>
<title>javaee7-angular</title>

<!-- build:css css/third-party.css -->
<!-- bower:css -->
<link rel="stylesheet" href="lib/dependencies/css/bootstrap.min.css" />
<link rel="stylesheet" href="lib/dependencies/css/ng-grid.min.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css css/application.css -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- endbuild -->

<!-- build:js lib/third-party.js -->
<!-- bower:js -->
<script src="lib/dependencies/jquery.min.js"></script>
<script src="lib/dependencies/angular.min.js"></script>
<script src="lib/dependencies/angular-resource.min.js"></script>
<script src="lib/dependencies/ng-grid-2.0.11.min.js"></script>
<script src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js script/all.js -->
<script src="script/person.js"></script>
<!-- endbuild -->
</head>

<body>

	<h1>SISAPROVA</h1>

	<br />

	<!-- Specify a Angular controller script that binds Javascript variables to the feedback messages.-->
	<div class="message" ng-controller="alertMessagesController">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)">{{alert.msg}}</alert>
	</div>

	<br>

	<!-- Specify a Angular controller script that binds Javascript variables to the grid.-->
	<div class="grid" ng-controller="personsListController">
		<div>
			<h3>Estudo</h3>
		</div>

		<!-- Binds the grid component to be displayed. -->
		<div class="gridStyle" ng-grid="gridOptions"></div>

		<!--  Bind the pagination component to be displayed. -->
		<pagination direction-links="true" boundary-links="true"
			total-items="persons.totalResults" items-per-page="persons.pageSize"
			ng-model="persons.currentPage" ng-change="refreshGrid()">
		</pagination>
	</div>

	<!-- Specify a Angular controller script that binds Javascript variables to the form.-->
	<div class="form" ng-controller="personsFormController">
		<!-- Verify person, if there is no id present, that we are Adding a Person -->
		<div ng-if="materia.id == null">
			<h3>Cadastrar Matéria</h3>
		</div>
		<!-- Otherwise it's an Edit -->
		<div ng-if="materia.id != null">
			<h3>Editar Matéria</h3>
		</div>

		<div>
			<!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
			<form name="materiaForm" ng-submit="updateMateria()" novalidate>

				<!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
				<div class="form-group"
					ng-class="{'has-error' : materiaForm.nome.$invalid && materiaForm.nome.$dirty}">
					<label for="name">Nome:</label>
					<!-- Display a check when the field is valid and was modified -->
					<span
						ng-class="{'glyphicon glyphicon-ok' : materiaForm.nome.$valid && materiaForm.nome.$dirty}"></span>

					<input id="nome" name="nome" type="text" class="form-control"
						maxlength="50" ng-model="materia.nome" required ng-minlength="2"
						ng-maxlength="50" />



					<!-- Validation messages to be displayed on required, minlength and maxlength -->
					<p class="help-block" ng-show="materiaForm.nome.$error.required">Add
						Name.</p>
					<p class="help-block" ng-show="materiaForm.nome.$error.minlength">Name
						must be at least 2 characters long.</p>
					<p class="help-block" ng-show="materiaForm.nome.$error.maxlength">Name
						cannot be longer than 50 characters.</p>
				</div>

				<!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
				<div class="form-group"
					ng-class="{'has-error' : materiaForm.description.$invalid && materiaForm.description.$dirty}">
					<label for="description">Description:</label>
					<!-- Display a check when the field is valid and was modified -->
					<span
						ng-class="{'glyphicon glyphicon-ok' : materiaForm.description.$valid && materiaForm.description.$dirty}"></span>

					<input id="descricao" name="descricao" type="text"
						class="form-control" maxlength="100" ng-model="materia.descricao"
						required ng-minlength="5" ng-maxlength="100" />

					<!-- Validation messages to be displayed on required, minlength and maxlength -->
					<p class="help-block"
						ng-show="materiaForm.descricao$error.required">Add
						Description.</p>
					<p class="help-block"
						ng-show="materiaForm.descricao.$error.minlength">Description
						must be at least 5 characters long.</p>
					<p class="help-block"
						ng-show="materiaForm.descricao.$error.maxlength">Description
						cannot be longer than 100 characters.</p>
				</div>



				<!-- Form buttons. The 'Save' button is only enabled when the form is valid. -->
				<div class="buttons">
					<button type="button" class="btn btn-primary"
						ng-click="clearForm()">Clear</button>
					<button type="submit" class="btn btn-primary"
						ng-disabled="materiaForm.$invalid">Save</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
